Mi_Repertorio_de_Ajedrez_Cuaderno_1_Apertura_Italiana_v2_Final.docx
Mi_Repertorio_de_Ajedrez_Cuaderno_1_Apertura_Italiana_v2_Final.pdf
LEEME.txt
partidas_modelo_ITA.pgn
posiciones_ITA.csv
.DS_Store
Thumbs.db
